.divide {
    position: relative;
    z-index: 1000;
    padding: 0;
    margin: 1;
    background: linear-gradient(to right,#1e5799 0%,#f300ff 50%,#e0ff00 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e5799',endColorstr='#e0ff00',GradientType=1);
    height: 4px;
    border-bottom: -1px solid #000;
}

